body {
     background-color: #e6e6fa;
     padding: 0px;
     margin: 0px;
}
 
h1,h3 {
	text-align: center;
	margin-top: 0px;
	font-family: "Courier New", Courier, monospace;
	font-weight:bold;
}

h1 {
	margin-bottom: 15px;
}

h3 {
	margin-bottom: 25px;
}
.template {
	display: none;
}

#author { 
	padding :2%;
	min-height: 55vh;
	max-height: 55vh;
}
#wrap {
	min-height: 55vh;
}

